[submodule "goblogger"]
	path = External/goblogger
	url = git@github.com:ReallyGoodIdeas/goblogger.git
[submodule "presentation-queue"]
	path = External/presentation-queue
	url = git@github.com:ReallyGoodIdeas/presentation-queue.git
